<div style="float: left;" class="w-75 p-3">
    <div class="card w-100 card-border-personalizado">
        <div class="card-body img-fundo">
            <div *ngIf="!this.statusConfirmacao" class="row">
                <span>{{this.message}}</span>
                <br>
                <div *ngIf="this.statusLoading === true">
                    <span class="material-icons spin">
                        rotate_right
                    </span>
                </div>
            </div>
            <div *ngIf="this.statusConfirmacao === true" class="row">
                <span>{{this.message}}</span>
            </div>
        </div>
    </div>
</div>