<div class="row">
  <div class="card w-100 card-border-personalizado">
    <span class="card-header">Informações do Server</span>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <td>Version:</td>
            <td style="font-weight: bold;">Season 12 EP2</td>
          </tr>
          <tr>
            <td>Experience:</td>
            <td style="font-weight: bold;">15x</td>
          </tr>
          <tr>
            <td>Drop:</td>
            <td style="font-weight: bold;">50%</td>
          </tr>
          <tr>
            <td>Mais Informações:</td>
            <td style="font-weight: bold;">
              <font color="#C0C0C0">
                <a href="#" target="_blank">
                  <font color="FBBD8D">Click aqui</font>
                </a>
              </font>
            </td>
          </tr>
          <tr>
            <td>Total de contas</td>
            <td style="font-weight: bold;">{{ totalContas }}</td>
          </tr>
          <tr>
            <td>Usuários Online</td>
            <td style="color: #00aa00; font-weight: bold;">{{ usersOnline}}</td>
          </tr>
          <tr>
            <td>Inicio do server:</td>
            <td style="font-weight: bold;">
              <font color="#00aa00">30 Setembro, 2021</font>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br> 
