<footer class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col-8">
        <p>© 2021 MuOnline</p>
        <p>This site is in no way associated with or endorsed by Webzen Inc.</p>

        <br />
        <p>
          MU Online is a free-to-play medieval fantasy MMORPG from Webzen. The
          game features fast-paced combat, quests, dungeons, PvP, castle sieges,
          and more. Players can choose from the eight classes of Dark Knight,
          Dark Wizard, Fairy Elf, Magic Gladiator, Dark Lord, Summoner, Rage
          Fighter and Grow Lancer, and participate in a variety of official
          combat-centric events and prize challenges.
        </p>
        <br />
      </div>
      <div class="col-4">
        <div class="col-6 text-center">
          <span style="color:red; font-weight: bold;">Server Time</span><br />
          <span class="footer-time"><time id="tServerTime">01:45</time></span>
        </div>
        <div class="col-6 text-center">
          <span style="color:red; font-weight: bold;">Your Time</span><br />
          <span class="footer-time"><time id="tLocalTime">02:45</time></span>
        </div>
      </div>
    </div>
  </div>
</footer>
