<div class="navbar">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" (click)="goHome()">Home</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" (click)="goServerInfo()">Server Info</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" (click)="goDownloads()">Downloads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goRegistrar()">Registrar</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" (click)="goRankings()">Rankings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goDoacoes()">Doações</a>
    </li> -->
  </ul>
</div>

<div class="header">
  <div class="video-shadow"></div>
  <video class="headervideo" width="100%" height="auto" autoplay="autoplay" loop="loop" id="videoPlayer" muted> 
    <source src="../../../../assets/videos/world_2.mp4" type="video/mp4" />
  </video>

  <div class="header-content-container">
    <div class="header-content">
      <div class="col-xs-4 header-front"></div>
      <div class="col-xs-4 header-front">
        <a href="#"><img class="site-logo" src="../../../../assets/img/logo.png" title="MuOnline" /></a>
      </div>
      <div class="col-xs-4 header-front"></div>
    </div>
  </div>
</div>

 