<div class="row">
    <div class="card w-100 card-border-personalizado">
        <span class="card-header">Olá {{this.nomeUsuario}}</span>
        <div class="card-body img-fundo">
            <ul>
                <li><img src="../../../../../assets/img/icons/account.png"><a href="#"> Minha conta</a></li>
                <li><img src="../../../../../assets/img/icons/unstick.png"><a href="#"> Destravar char</a></li>
                <!-- <li><img src="../../../../../assets/img/icons/vote.png"><a href="#"> Vote for GP</a></li> -->
                <li><img src="../../../../../assets/img/icons/donate.png"><a href="#"> Doar para wcoin</a></li>
                <li><img src="../../../../../assets/img/icons/zen.png"><a href="#"> Comprar Zen</a></li>
                <!-- <li><img src="../../../../../assets/img/clearst.png"><a href="#"> Resgatar Codigo</a></li> -->
                <li><img src="../../../../../assets/img/icons/addstats.png"><a href="#"> Contato-nos</a></li>
            </ul>
        </div>
        <div class="card-footer">
            <div class="btn btn-primary" (click)="sair()">Sair</div>
        </div>
    </div>
</div>
<br>